<app-title title="Control flow" />
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="p-5">
    <p class="text-2xl">Condicional if</p>

    <h2 class="m-5">{{ showContent() }}</h2>
    <button
      class="bg-green-400 py-1 px-5 rounded-[20px]"
      (click)="toggleContent()"
    >
      Click me!
    </button>

    @if(showContent()){
    <p>mostrar texto</p>
    } @else{
    <p>ocultar texto</p>
    }
  </div>
</section>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="p-5">
    <p class="text-2xl">Condicional switch</p>

    @switch (grade()){ @case ('A') {
    <p>Aprobo</p>

    } @case ('B') {
    <p>Reprobo</p>

    } @case ('C') {
    <p>Cursando</p>
    } }
  </div>
</section>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="p-5">
    <p class="text-2xl">Condicional for</p>

    <ul>
      @for(item of tecnologia(); track $index){
      <li>{{ item }}</li>
      }
    </ul>
  </div>
</section>
